body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
    transition: 0.3s;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px;
    margin: 5px 0;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

/* Botón agregar */
#btnAgregar {
    background: #4CAF50;
    color: white;
}

/* Botón modo oscuro */
#btnModo {
    background: #333;
    color: white;
}

/* Botón día finalizado */
#btnDia {
    background: #2196F3;
    color: white;
}

/* Lista de tareas */
li {
    background: #ddd;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Botón completar */
.btnCompletar {
    background: green;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Botón eliminar */
.btnEliminar {
    background: red;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Tarea completada */
.completada {
    text-decoration: line-through;
    background: #b9f6ca;
    color: #2e7d32;
}

/* Modo oscuro */
.dark {
    background: #121212;
    color: white;
}

.dark .container {
    background: #1e1e1e;
}

.dark li {
    background: #333;
}

/* Mensaje del día finalizado */
#mensajeDia {
    font-size: 18px;
    font-weight: bold;
    color: green;
    text-align: center;
    margin-top: 10px;
}